@charset "UTF-8";

	/*main部分start*/
	.main-slider {
		float: left;
		position: relative;
		margin: 12px 0 0 220px;
		width: 730px;
		height: 454px;
	}

	.main-slider ul {
		position: absolute;
		left: 50%;
		bottom: 10px;
		margin-left: -66px;
	}

	.main-slider li {
		float: left;
		width: 18px;
		height: 18px;
		color: #fff;
		border-radius: 50%;
		background-color: #3e3e3e;
		text-align: center;
		line-height: 18px;
		margin: 0 2px;
		cursor: pointer;
	}

	.arrow a {
		position: absolute;
		border-radius: 10px;
		top: 50%;
		width: 28px;
		height: 62px;
		margin-top: -31px;
		background-color: rgba( 0, 0, 0, 0.3 );
		text-align: center;
		color: #fff; 
		font:  400 22px/62px "simsun";

	}

	.arrow a:hover {
		background-color: rgba( 0, 0, 0, 0.7 );
	}

	.arrow-left {
		left: 0;
	}

	.arrow-right {
		right: 0;
	}

	.main-news {
		float: right;
		height: 466px;
		width: 250px;
		
	}

	.main-news-top {
		width: 248px;
		height: 372px;
		margin: 12px 0 5px 0;
		border: 1px solid #e4e4e4;
	}

	.main-news-top-faster {
		height: 163px;
		border-bottom: 1px dashed #e4e4e4;
	}

	.main-news-top-faster-title {
		height: 32px;
		border: 1px dotted #e8e8e7;
		/*font: 400 16px/32px "microsoft yahei";*/
		line-height: 32px;
		padding: 0 15px;
	}

	.main-news-top-faster-title h2 {
		float: left;
		font: 400 16px/32px "microsoft yahei";
	}

	.main-news-top-faster-title a {
		float: right;
		font-family: "consolas";
	}

	.main-news-top-faster-content {
		padding: 5px 0 0 15px;
	}

	.main-news-top-faster-content li {
		line-height: 24px;
	}

	.main-news-top-faster-content li span {
		font-weight: 700;
		margin-right: 5px;
	}
	/*main部分end*/

	/*shortcut-nav部分start*/
	/*shortcut-nav部分end*/

	/*shortcut-nav部分start*/
	/*shortcut-nav部分end*/

